BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

DB_USER=english_bot
DB_PASSWORD=english_bot
DB_NAME=english_bot
DB_HOST=db
DB_PORT=5432

# sync URL для alembic
DATABASE_SYNC_URL=postgresql+psycopg2://english_bot:english_bot@db:5432/english_bot

LOG_LEVEL=INFO
